* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("fonts/JetBrainsMono-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("fonts/JetBrainsMono-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("fonts/JetBrainsMono-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("fonts/JetBrainsMono-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}